@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    
    <h1>Transflower Bloggers post Portal</h1>
    <hr/>
    <p>Doing ordinary things, extra ordinarily</p>
    <ol>
        <li>Java</li>
        <li>.NET</li>
        <li>NodeJs</li>
        <li>Ruby On Rails</li>
    </ol>

</div>
