@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using TFLECommerce_May2024.Models;
@{
    //int customerId = (int)ViewData["id"];
    //string customerName = (string)ViewData["name"];
    //string email = (string)ViewData["email"];
    //string phone = (string)ViewData["phone"];
    Customer cst = (Customer)ViewData["customer"];

}

<p> Id: @cst.Id</p>
<p>Name: @cst.Name</p>
<p> Email: @cst.Email</p>
<p>Phone: @cst.Phone</p>