@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Product Details</h1>
<hr/>

<p>Title:IPhone 16</p>
<p>Description:Smart Phone</p>
<p>Unit Price: 87000 Rs. Only </p>
<p>Likes:9000</p>