@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Product Catalog</h1>
<hr/>

<ol>
    <li>Moto g</li>
    <li>Shiomi</li>
    <li>Samsung tab</li>
    <li>IPad</li>
    <li>Hololnes</li>
</ol>
