@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>About Us</h1>
<p>Trnasflower Learning Pvt. Ltd.</p>
<p>Mentor: Ravi Tambade</p>