@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Services Provided</h2>
<ul>
    <li>Dev Camps</li>
    <li>Online Workshops</li>
    <li>Boot Camps</li>
</ul>