@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <a href="datastorage/localstorage">Local Storage</a> |
    <a href="datastorage/sessionstorage">Sessions Storage</a>
  
    
</div>
